<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I've have a passion for mobile technology since I started working in 2008 and since then that passion has only grown. I've been involved in a wide variety of mobile application from the Medical sector to the Financial sector.
        
Mobile is at the forefront of user engagement and interaction, this drives me to produce the best possible solution while being user friendly and very intuitive.    

I've worked a variety of different mobile platforms: J2ME, Android, BlackBerry, Windows Mobile with my main focus being on the Android platform.   

Specialties:Mobile application development on Android.</p>
</div><!--//summary-->
</section><!--//section-->
